@using System.Diagnostics.Eventing.Reader
@using System.Drawing
@using BarberShop.Models
@model BarberShop.Models.UserModel

@{
    var orderInfo = ViewBag.OrderInfo as List<OrderInfo>;
}
<div style="float:none; width:100%; height:550px;">
    <div style="float:left;">
        @using (Html.BeginForm("Manage", "Account", FormMethod.Post))
        {
            <hr />
            <h4>Inloggad som: @Model.FirstName @Model.LastName</h4>

            <hr />
            <div class="editor-field">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName, Model)
            </div>
            <div class="editor-field">
                @Html.LabelFor(model => model.LastName)
            </div><div class="editor-field">
                @Html.EditorFor(model => model.LastName, Model)
            </div>
            <div class="editor-field">
                @Html.LabelFor(model => model.Phone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Phone, Model)
            </div>
            <div class="editor-field">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.City, Model)
            </div>
            <div class="editor-field">
                @Html.LabelFor(model => model.Adress)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Adress, Model)
            </div>
            <div class="editor-field">
                @Html.LabelFor(model => model.ZipCode)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ZipCode, Model)
            </div>
            <br />
            <h4>@ViewBag.UpdateResult</h4>
            <br />
            <input type="submit" name="btnSubmit" value="Uppdatera Kontaktuppgifter " />
        }
    </div>
    <div style="float:right; overflow: auto; width: 250px; height:500px;">
        <hr>
        <h4>Bokade Klipptider</h4>
        <hr>
            
        <h5> @Html.ActionLink("Se alla bokade tider", "Orders", new { },new {style = "color:red"})</h5>
        
        @foreach (var order in orderInfo)
        {
            <div style="border: 2px solid black; margin-top:2px;">
                <h6><u><b>Bokningsdatum:</b></u> @order.OrderDate</h6>
                <h6><u><b>Bokat datum:</b></u> @order.BookedDate</h6>
                <br />
                <h6><u><b>Frisör:</b></u> @order.EmployeeName</h6>
                <h6><u><b>Antal minuter behandlingen tar:</b></u> @order.amountOfRequiredTime min</h6>
                <h6><u><b>Behandling: </b></u></h6>
                @foreach (var ordertype in order.OrderTypes)
                {
                    <h5>@ordertype</h5>
                    
                }
                <center>
                    @Html.ActionLink("Avboka", "DeleteOrder", new { orderId = order.Id }, new { @class = "btn btn-primary btn-large" })
                </center>
                <br />
            </div>
        }
    </div>
    
</div>
<hr />
<br />
<div>

    @using (Html.BeginForm("ManagePassword", "Account", FormMethod.Post))
    {
        <h2>Ändra Lösenord</h2>

        <div class="editor-field">
            @Html.Label("Gammalt Lösenord")
        </div>
        <div class="editor-field">
            @Html.Password("oldPassword")
        </div>
        <div class="editor-field">
            @Html.Label("Nytt Lösenord")
        </div>
        <div class="editor-field">
            @Html.Password("newPassword")
        </div>
        <div class="editor-field">
            @Html.Label("Upprepa Nytt Lösenord")
        </div>
        <div class="editor-field">
            @Html.Password("newRepeatPassword")
        </div>
        <br />
        <h4 style="color:red;">@ViewBag.PasswordError</h4>
        <h4 style="color:red;">@ViewBag.UpdatePasswordResult</h4>
        <input type="submit" name="btnSubmit" value="Uppdatera Lösenord" />
    }
</div>
<hr/>
@if (Model.PermissionType == PermissionType.Administrator)
{
    @Html.ActionLink("Lägg till anställd","Index","Register")
}


